<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <title>hiease authserver</title>
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <div class="auth-page" style="display: block;">
        <div class="content">
            <div id="section-account" class="section" style="display: block; opacity: 1;">
                <div class="selector selector-mode selector-mode-login">
                    <div class="column">
                        <button class="button btn-mode btn-login">登录</button>
                    </div>
                </div>

                <div id="form-account-login" class="form" style="display: block; opacity: 1;">
                    <form id="login-method-password" class="method" style="display: block; opacity: 1;" th:action="@{/login}" method="post">
                        <div id="wire-login-username-container" class="form-control">
                            <input class="input username" placeholder="用户名" type="text" id="username" name="username" />
                        </div>
                        <div id="wire-login-password-container" class="form-control">
                            <input class="input password" placeholder="密码" type="password" id="password" name="password" />
                        </div>
                        <ul class="error-list">
                            <li class="error" th:if="${param.error}">登录失败.</li>
                        </ul>
                        <div class="expired-info" style="display: none;">
                            <div>You were signed out because your session expired. Please log in again.</div>
                        </div>
                        <div class="footer">
                            <div class="column">
                                <input id="password-login" class="button button-white btn-action btn-sign-in-email" value="登录" type="submit" />
                            </div>
                            <div class="column">
                                <a class="auth-link-button">忘记密码</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>